<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="Author" content="Ma Zekun">
<meta name="copyright" content="Ma Zekun All Rights Reserved">
<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
<style type="text/css"> 
.body {
background-color: #F2F8FB;
}
.wrapper{
text-align:center
}
.slogan{
padding: 50px 0 20px;
}
#image{
width:35px;
height:35px;
margin:35px;
}
</style> 
</head>
<body class = "body">
<div class ="wrapper" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
<pre class = "slogan">
  __                                    
 / /       /  |                /|/|     
( /   ___ (___|      ___      ( / | ___ 
 /  )|___)|\   |   )|   )     |   )|   )
/__/ |__  | \  |__/ |  /      |  / |__/|
</pre>
	                <tr>
                    <th>City：</th>
                    <th>${weather.city}</th>
                    <th>Weather：</th>
                    <th>${weather.todayWeather}</th>
                    </tr>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
<div class="lableimage">
<img id="image" src="../templates/images/heart.png" href=""/>
<img id="image" src="../templates/images/middle.png" href=""/>
<img id="image" src="../templates/images/tomainpage.png" href=""/>
</div>
<br>
<img src="https://img.shields.io/badge/WeiBo-Daylightmazekun-orange.svg" href="https://weibo.com/u/3196240693?is_all=1"/>
<img src="https://img.shields.io/badge/EMail-mazekun%40outlook.com-green.svg" href=""/>
<img src="https://img.shields.io/badge/Github-Daylightmazekun-red.svg" href=""/>




</div>

</body>
</html>

